<!DOCTYPE HTML>
<html>

<!-- The header component found in components.js -->
<header-component v-cloak></header-component>

<body class="docs">
	<span class="overlay"></span>

	<!-- Top nav bar -->
	<nav class="main">
  		<!-- Name -->
  		<a href="/" class="brand nav-block">
  			<span>Zachary Jacob Collins</span>
  		</a>

  		<!-- Search input -->
  		<div class="search nav-block">
  			<input placeholder="search" type="text" v-model="search" id="search-input" v-on:blur="reset" />
  		</div>

  		<!-- Top nav bar -->
  		<ul id="topNav" class="main-nav" v-if="! search">
    			<template v-for="button in buttons">
    					<li><a href="{{ button.link }}"><strong>{{ button.text }}</strong></a></li>
    			</template>
      		<div class="responsive-sidebar-nav">
      			<a href="#" class="toggle-slide menu-link btn">&#9776;</a>
      		</div>
  		</ul>
      <!-- Top nav bar -->
	</nav>

	<div class="docs-wrapper container">
		<test-component v-bind:sections="sections"></test-component>

		<!--The sidenav componet found in components.js-->
		<sidenav-component v-bind: sections="sections">
		</sidenav-component>

      <!--Page Content-->
      <content>
    		<article>
					<h4> Article load {{sections}} </h4>
    		</article>
      </content>
      <!--Page Content-->

	</div>

	<!-- Footer Scripts block -->
	<footer-component></footer-component>

  <!-- Vue.js library and sheet components-->
  <script src="/public/js/vue/vue.min.js"></script>
  <script src="/public/js/vue/components.js"></script>
	<!-- Footer Scripts Block -->


</body>
</html>
