<!DOCTYPE HTML>
<html>

<!-- The header component found in components.js -->
<header-component></header-component>

<body class="docs">
	<span class="overlay"></span>

	<!-- Top nav bar -->
	<nav class="main">
			<!-- Name -->
			<a href="/" class="brand nav-block">
				<span>Zachary Jacob Collins</span>
			</a>

			<!-- Search input -->
			<div class="search nav-block">
				<input placeholder="search" type="text" v-model="search" id="search-input" v-on:blur="reset" />
			</div>

			<ul id="topNav" class="main-nav" v-if="! search">
					<template v-for="topNavSection in topNavSections">
							<li><a href="{{ topNavSection.link }}"><strong>{{ topNavSection.text }}</strong></a></li>
					</template>
					<div class="responsive-sidebar-nav">
						<a href="#" class="toggle-slide menu-link btn">&#9776;</a>
					</div>
			</ul>
	</nav>
	<!-- /Top nav bar -->

	</nav>

	<div class="docs-wrapper container">

		<!-- Sidenav -->
		<section id="sideNav" class="sidebar">
			<ul>
				<template v-for="sideNavSection in sideNavSections">
					<li><strong>{{ sideNavSection.title }}</strong>
						<ul>
							<template v-for="c in sideNavSection.content">
									<li><a href="{{ c.link }}">{{ c.text }}</a></li>
							</template>
						</ul>
					</li>
				</template>
			</ul>
		</section>
		<!-- /Sidenav -->

      <!--Page Content-->
      <content id="stats">
    		<article>
    			<h1> Statistics 360 </h1>
    			<h4><a href="http://people.emich.edu/aross15/" style="text-decoration: none;">Link to Professor Ross' Page</a></h4>
					<h4><a href="#" style="text-decoration: none;">*Star next to definition or concept denotes likely to be on exam.  </a></h4>
					<br />

					<!-- Chapter 3 -->
					<h2> Chapter 3</h2>
						<template v-for="chapter in chapters">
							<template v-if="chapter.title == 'Chapter 3'">
								<h4> Definitions </h4>
								<ul>
									<template v-for="definition in chapter.definitions">
											<li><strong>{{ definition.term }}</strong>: {{definition.definition}}</li>
									</template>
								</ul>
								<h4>Concepts </h4>
								<ul>
									<template v-for="concept in chapter.concepts">
											<li><strong>{{ concept.title }}</strong>: {{ concept.text }}</li>
									</template>
								</ul>
							</template>
						</template>
						<!-- Chapter 3 -->

						<br />
						<hr />

						<!-- Chapter 5 -->
	          <h2> Chapter 5</h2>
							<template v-for="chapter in chapters">
								<template v-if="chapter.title == 'Chapter 5'">
									<h4> Definitions </h4>
									<ul>
										<template v-for="definition in chapter.definitions">
												<li><strong>{{ definition.term }}</strong>: {{definition.definition}}</li>
										</template>
									</ul>
									<h4>Concepts </h4>
									<ul>
										<template v-for="concept in chapter.concepts">
												<li><strong>{{ concept.title }}</strong>: {{ concept.text }}</li>
										</template>
									</ul>
								</template>
							</template>
							<!-- Chapter 5 -->

							<br />
							<hr />



	    	</article>


      </content>
      <!--Page Content-->

	</div>

	<!-- Footer block -->
		<footer id="footer" class="main">
				<ul>
					<template v-for="footerSection in footerSections">
								<li><a href="{{ footerSection.link }}">{{ footerSection.text }}</a></li>
					</template>
				</ul>
				<p> MIT <a href="https://github.com/ZacharyJacobCollins">@Zachary Collins</a></p>
				<p class="less-significant">
					<!-- Logo here.  SVG Works well .  -->
				</p>
		</footer>
	<!-- /Footer block -->


	<!-- Scripts block -->
		<script src="/public/js/vue/vue.min.js"></script>

		<!-- Smaller vue components -->
		<script src="/public/js/vue/stats.js"></script>
		<script src="/public/js/vue/projects.js"></script>
		<script src="/public/js/vue/books.js"></script>
		<script src="/public/js/vue/discrete.js"></script>

		<!-- Larger Vue Components -->
		<script src="/public/js/vue/navs.js"></script>
		<script src="/public/js/vue/footer.js"></script>

		<!-- Load in vue components -->
		<script src="/public/js/vue/components.js"></script>
	<!-- /Scripts block -->



</body>
</html>
