<!DOCTYPE HTML>
<html>

<!-- The header component found in components.js -->
<header-component v-cloak></header-component>

<body class="docs">
	<span class="overlay"></span>

	<!-- Top nav bar -->
	<nav class="main">
  		<!-- Name -->
  		<a href="/" class="brand nav-block">
  			<span>Zachary Jacob Collins</span>
  		</a>

  		<!-- Search input -->
  		<div class="search nav-block">
  			<input placeholder="search" type="text" v-model="search" id="search-input" v-on:blur="reset" />
  		</div>

  		<!-- Top nav bar -->
  		<ul id="topNav" class="main-nav" v-if="! search">
    			<template v-for="topNavSection in topNavSections">
    					<li><a href="{{ topNavSection.link }}"><strong>{{ topNavSection.text }}</strong></a></li>
    			</template>
      		<div class="responsive-sidebar-nav">
      			<a href="#" class="toggle-slide menu-link btn">&#9776;</a>
      		</div>
  		</ul>
      <!-- /Top nav bar -->
	</nav>

	<div class="docs-wrapper container">

		<!-- Sidenav -->
		<section id="sideNav" class="sidebar">
			<ul>
				<template v-for="sideNavSection in sideNavSections">
					<li><strong>{{ sideNavSection.title }}</strong>
						<ul>
							<template v-for="c in sideNavSection.content">
									<li><a href="{{ c.link }}">{{ c.text }}</a></li>
							</template>
						</ul>
					</li>
				</template>
			</ul>
		</section>
		<!-- /Sidenav -->

    <!--Page Content-->
    <content>
			<article>
				<h1> ~/.bashrc </h1>

				<!-- Update syntax -->
				<code> vim ~/.bashrc && source ~/.bashrc </code>

				<!-- .bashrc file -->
				<pre class="language-bash">
alias c='clear'
alias add='git add -A'
alias pushm='git pull origin master && git push origin master'
alias pushd='git pull origin dev && git push origin dev'
alias apushm='git add -A && git commit -m "Updates to personal project using alias" && git pull origin master && git push origin master'
				</pre>
			</article>
    </content>
    <!--Page Content-->

	</div>

	<footer-component></footer-component>

	<!-- Footer Scripts block -->
  <script src="/public/js/vue/vue.min.js"></script>

	<!-- Larger Vue Components -->
	<script src="/public/js/vue/navs.js"></script>
	<script src="/public/js/vue/footer.js"></script>

	<!-- Load in vue components LAST -->
	<script src="/public/js/vue/components.js"></script>

</body>
</html>
